*{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
--max-width: 750px;
--min-width: 300px;
--optimus-width: 90vw;

--primary-color: #7479e8;
--secondary-color: #7479e8;
--tertiary-color: #fff;

--title-color: var(--secondary-color);
--subtitle-color: #4a4969;
--paragraph-color: #1c1c1c;

--primary-background-color: #fafbfd;
--secondary-background-color: #b2b2e4;
--tertiary-background-color: #efeffb;
--quaternary-background-color: var(--title-color);

--button-color: #fff;

--border-color: var(--primary-color);

/* status colors */
--information-color: #f8e059;
--warning-color: #ff3131;
--sucess-color: #16b847;

}

body{
height: 100vh;
padding: 2rem 1.5rem;
background: linear-gradient(180deg, var(--primary-background-color) 60%, var(--secondary-background-color));
display: flex;
flex-direction: column;
align-items: center;
gap: 1rem;
position: relative;
}

.initial-warning{
  color: var(--paragraph-color);
  opacity: 0.7;
  text-align: center;
  position: absolute;
  top: 40%;
  width: clamp(var(--min-width), var(--optimus-width), 500px);
}

.header-title{
color: var(--primary-color);
animation: slideShrink 0.6s ease-out forwards;
}

@keyframes slideShrink{
0%{
 transform: translateY(-50px) scale(1.5);
 opacity: 0;
}
100%{
 transform: translateY(0) scale(1);
 opacity: 1;
}
}

.chat-container{
height: 90vh;
display: flex;
flex-direction: column;
justify-content: flex-end;
gap: 0.5rem;

border-radius: 0.3rem;

width: clamp(var(--min-width), var(--optimus-width), var(--max-width));
overflow: hidden;
position: relative;
}

.chat-gradient-top{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100px;
background: linear-gradient(to bottom, rgba(250, 251, 253, 1), rgba(250, 251, 253, .5) 50%,  rgba(250, 251, 253, 0)75%);
pointer-events: none;
opacity: 0;
z-index: 2;
transition: opacity 0.3s ease;
}

.copied{
  color: var(--primary-color);
  animation: slideLeft 0.3s ease-in-out forwards;
  font-size: 0.8rem;
}

@keyframes slideLeft{
  0%{
 transform: translateX(-50px);
 opacity: 0;
  }
  100%{
  transform: translateX(0);
  opacity: 0.7;
  }
}

@keyframes slideRight{
0%{
 transform: translateX(0px);
 opacity: 0;
  }
  100%{
  transform: translateX(-100px);
  opacity: 0.7;
  }
}

.chat-box{
flex: 1;
width: 100%;
overflow-y: auto;
border-radius: 0.3rem;
padding: 1.5rem 0 0.5rem 0;
display: flex;
flex-direction: column;
align-items: end;
position: relative;
scrollbar-width: thin;
scrollbar-color: #ccc transparent;
}

.chat-box::-webkit-scrollbar{
width: 8px;
}

.chat-box::-webkit-scrollbar-track{
background: transparent;
}

.chat-box::-webkit-scrollbar-thumb{
background-color: #ccc;
border-radius: 8px;
transition: background-color 0.3s;
}

.chat-box::-webkit-scrollbar-hover{
background: #999;
}

.chat-messages{
display: flex;
flex-direction: column;
gap: 1rem;
margin-top: auto;
align-items: end;
width: 100%;
}


.ai-response{
color: var(--paragraph-color);
max-width: 88%;
margin-right: auto;
animation: slideUp 0.4s ease-out forwards;
}

.thinking-error .ri-brain-2-line{
  color: var(--warning-color);
}

.header-title .ri-brain-2-line{
  color: var(--primary-color);
}

.ri-brain-2-line{
  color: var(--secondary-color);
}

.ai-answer{
margin-top: 0.5rem;
margin-bottom: 0.5rem;
border-radius: 0.5rem;
color: var(--paragraph-color);
font-size: 1rem;
padding: 0.5rem;
transition: margin-bottom 0.15s ease;
background: var(--tertiary-background-color);
}

.ri-file-copy-line{
  margin-left: 0.3rem;
}

.ri-file-copy-line:hover{
  color: hsl(from var(--primary-color) h s calc(l - 15));
}

.message{
border-radius: 0.3rem;
font-size: 1rem;
padding: 0.5rem;
max-width: 88%;
background: var(--quaternary-background-color);
color: white;
animation: slideUp 0.4s ease-out forwards;
text-align: right;
}

@keyframes slideUp{
0%{
 transform: translateY(-30px);
 opacity: 0;
}
100%{
 transform: translateY(0);
 opacity: 1;
}
}

.chat-input{
background-color: var(--tertiary-background-color);
outline: none;
width: 100%;
display: flex;
align-items: end;
justify-content: space-between;
border-radius: 0.5rem;
padding: 0.5rem;
gap: 0.5rem;
}

.chat-input textarea{
border: none;
resize: none;
overflow-y: auto;
font-size: 1rem;
line-height: 1.2rem;
max-height: calc(1.2rem * 10);
background: transparent;
color: var(--paragraph-color);
padding: 0.5rem;
width: 100%;
}

.chat-input textarea:focus{
outline: none;
border: none;
}

#mensaje::-webkit-scrollbar{
width: 8px;
}

#mensaje::-webkit-scrollbar-track{
background: transparent;
}

#mensaje::-webkit-scrollbar-thumb{
background-color: #ccc;
border-radius: 8px;
transition: background-color 0.3s;
}

#mensaje::-webkit-scrollbar-thumb:hover{
background: #999;
}

#mensaje{
scrollbar-color: #ccc transparent;
scrollbar-width: thin;
}

#mensaje::placeholder{
  color: var(--paragraph-color);
  opacity: 0.8;
}

.chat-input button{
border: none;
display: block;
color: var(--primary-color);
background: transparent;
width: 35px;
height: 35px;
border-radius: 50%;
font-size: 1.35rem;
transition: all 0.2s ease;
}

.chat-input button:hover{
  color: hsl(from var(--sucess-color) h s calc(l + 10));
  transform: translateY(-3px) translateX(3px);
}

.chat-input button:focus{
  color: hsl(from var(--sucess-color) h s calc(l + 10));
  outline: none;
}

.thinking{
width: 100%;
display: inline-block;
color: var(--quaternary-background-color);
font-size: 0.9rem;
text-align: left;
}

.thinking::after{
content: '';
display: inline-block;
width: 1ch;
text-align: left;
animation: thinking-appear 1.5s steps(3, end) infinite;
}

@keyframes thinking-appear{
0%{content:'';}
33%{content:'.';}
66%{content:'..';}
100%{content:'...';}
}

.thinking-error{
  width: 100%;
  display: inline-block;
  color: var(--warning-color);
  font-size: 0.9rem;
  text-align: left;
}

@media (max-width: 768px){
  .chat-box::-webkit-scrollbar{
    display: none;
  }

  .chat-box{
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.oculto{
display: none;
}


