@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

:root {
    --max-width: 1200px;
    --min-width: 300px;
    --optimus-width: 100vw;

    --primary-color: #81b1f1;
    --secondary-color: rgb(45, 120, 241);
    --tertiary-color: #fff;

    --title-color: var(--primary-color);
    --subtitle-color: #4a4969;
    --paragraph-color: #0c0c0c;

    --primary-background-color: #f0f0f0;
    --secondary-background-color: hsl(from var(--primary-color) h s calc(l + 10));
    --tertiary-background-color: #efeffb;
    --quaternary-background-color: var(--title-color);

    --button-color: #fff;

    --border-color: var(--primary-color);
}

body {
    background: var(--primary-background-color);
}

a {
    text-decoration: none;
    font-size: 1rem;
}

button {
    outline: none;
    border: none;
    font-size: 1rem;
}

.wrapper-navbar {
    position: fixed;
    height: 65px;
    z-index: 50;
    background: var(--primary-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: all 0.2s ease;
}

.wrapper-navbar.scrolled {
    background: var(--primary-background-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.navbar {
    width: clamp(var(--min-width), var(--optimus-width), var(--max-width));
    display: flex;
    padding: 0 0.8rem;
}

.navbar-data {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__brand {
    color: var(--paragraph-color);
    font-size: 1.8rem;
    font-weight: 550;
}

.navbar__brand:hover {
    color: var(--primary-color);
}

.navbar__toggle {
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    width: 35px;
    height: 35px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.navbar__toggle button {
    width: 35px;
    height: 35px;
    background: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    height: 100vh;
    width: 100%;
    position: absolute;
    background: var(--primary-background-color);
    padding: 1rem;
    top: 0;
    left: 0;
    z-index: 1;
}

.navbar-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
}

.navbar__link {
    list-style: none;
}

.navbar__link a {
    display: block;
    color: var(--secondary-color);
    font-weight: bold;
    transition: all 0.2s ease;
}

.navbar__link a:hover {
    color: var(--paragraph-color);
    transform: translateY(-3px);
}

.navbar__contact-btn {
    cursor: pointer;
    padding: 0.5rem 2rem;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    transition: all 0.3s ease;
}

.navbar__seemaai-btn {
    text-align: center;
    cursor: pointer;
    padding: 0.5rem 2rem;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    background: linear-gradient(90deg, var(--secondary-color), hsl(from var(--secondary-color) h s calc(l - 30)));
    transition: all 0.3s ease;
    box-shadow: 0 0 8px var(--secondary-color);
}

.navbar__contact-btn:hover,
.navbar__seemaai-btn:hover,
.contact-btn:hover,
.a-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 4px var(--secondary-color);
}

.page {
    width: 100%;
    max-width: var(--max-width);
    min-width: var(--min-width);
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    padding-top: 60px;
}

.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;

    padding: 4rem 0 0.5rem 0;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.hero-content__title {
    font-size: 2.2rem;
    line-height: 2.4rem;
}

.hero-content__title--span {
    background: linear-gradient(180deg, var(--primary-color) 30%, var(--secondary-color), hsl(from var(--secondary-color) h s calc(l + 15)));
    background-clip: text;
    color: transparent;
}

.hero-img-shadow-wrapper{
    width: 100%;
    border-radius: 16px 16px 0 0;
    background: transparent;
    box-shadow: 0 0 40px hsl(from var(--secondary-color) h s calc(l + 20));
    border-bottom: 1px solid var(--primary-color);
}

.hero-img-shadow{
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 16px 16px 0 0;
}

.hero-img {
    border: 1px solid hsl(from var(--primary-color) h s calc(l + 10));
    padding: 1rem 1rem 0 1rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px 16px 0 0;
}

.hero-img img {
    width: 100%;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
}

.contact-btn,
.programs-btn {
    padding: 0.5rem 2rem;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    transition: all 0.3s ease;
    width: 230px;
    cursor: pointer;
}

.programs-btn {
    display: none;
}

.ri-whatsapp-line {
    font-size: 1.05rem;
    font-weight: normal;
}

.section-container {
    padding: 4rem 0;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.section__bubble {
    background: hsl(from var(--secondary-color) h s calc(l + 30));
    color: hsl(from var(--secondary-color) h s calc(l - 20));
    border: 1px solid var(--secondary-color);
    padding: 0.2rem 1rem;
    font-size: 13px;
    border-radius: 2rem;
}

.section__title {
    font-size: 1.6rem;
    margin-top: -1.5rem;
    line-height: 2.2rem;
}

.benefits-cards-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: auto;
    gap: 1rem;
    padding: 0.6rem 0.2rem;
}

.a-btn{
    padding: 0.5rem 1.2rem;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    border: 1px solid var(--primary-color);
    transition: all 0.3s ease;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 8px rgba(35, 35, 35, 0.2);
}

.benefit__card {
    flex: 1;
    min-width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: left;
    text-align: left;
    gap: 1rem;
    background: white;
    border-radius: 6px;
}

.benefit__icon {
    background: var(--secondary-color);
    color: rgb(236, 242, 255);
    width: 35px;
    height: 35px;
    border-radius: 6px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    box-shadow: 0 0 8px rgba(4, 48, 131, 0.5);
}

.benefit__card--time, 
.benefit__card--awesome,
.benefit__card--share,
.benefit__card--programs {
    position: relative;
    overflow: hidden;
}

.benefit-card-img{
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    z-index: 0;
}

.benefit-card-img img{
    mask-image: linear-gradient(black 50%, transparent);
    border-radius: 6px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
}

.benefit__card--programs img{
    opacity: 1;
}

.benefit-card__overlay {
    position: absolute;
    bottom: 0;
    height: 250px;
    width: 100%;
    background: linear-gradient(to top, rgb(7, 66, 175), hsl(from var(--secondary-color)h s calc(l - 15)), transparent);
    mask-image: linear-gradient(to top, black , transparent);
    backdrop-filter: blur(15px); /* El blur */
    -webkit-backdrop-filter: blur(15px); /* Para Safari */
    z-index: 1;
}

.benefit__card-content{
    position: absolute;
    z-index: 2;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.benefit__card-content h3 {
    font-weight: 600;
    color: var(--paragraph-color);
}


.benefit__card--programs h3{
    color: white;
}

.section-seemaai {
    background: linear-gradient(to top, hsl(from var(--secondary-color) h s calc(l - 30)) 25%, hsl(from var(--secondary-color) h s calc(l - 30)) 50%, hsl(from var(--secondary-color) h s calc(l - 50)) 75%);
    border-radius: 6px;
    padding: 2rem;
    gap: 2.5rem;
}

.seemaai-title {
    font-size: 2rem;
    background: linear-gradient(to bottom, hsl(from var(--secondary-color) h s calc(l + 25)) 25%, var(--primary-color) 50%, hsl(from var(--secondary-color) h s calc(l - 5)) 75%);
    background-clip: text;
    color: transparent;
    line-height: 2.2rem;
    text-align: left;
    justify-self: start;
    width: 100%;
    margin-top: 0
}

.seemaai-content {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.seemaai-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.seemaai-text__title {
    text-align: left;
    color: white;
}

.seemaai-img{
    margin-top: -2rem;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-bottom: 1px solid var(--primary-color);
}

.seemaai__chat-phone{
    mask-image: linear-gradient(black 60%, transparent);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.seemaai__chat-laptop{
    display: none;
}

.seemaai-content-btn {
    box-shadow: 0 0 12px white;
}

.seemaai-text__paragrah {
    text-align: left;
    color: white;
}

.seemaai-features {
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.seemaai-feature {
    border-radius: 6px;
    padding: 0.3rem 1rem;
    color: var(--primary-color);
    font-weight: bold;
}

.seemaai-warning {
    font-size: 0.8rem;
    color: rgb(185, 185, 185);
}

.ri-error-warning-line {
    color: orangered;
}

.bento-grid {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 0;
}

.bento-item {
    background: linear-gradient(25deg, hsl(from var(--primary-color) h s calc(l + 20)) 20%, hsl(from var(--secondary-color) h s calc(l + 35)) 50%, var(--primary-background-color) 100%);;
    color: var(--paragraph-color);
    border-radius: 6px;
    padding: 1.2rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: transform 0.2s ease;
    min-height: auto;
}

.bento-item:hover {
    transform: translateY(-3px);
}

.bento-item i {
    background: var(--secondary-color);
    color: rgb(236, 242, 255);
    width: 35px;
    height: 35px;
    border-radius: 6px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    box-shadow: 0 0 8px rgba(4, 48, 131, 0.5);
    margin-bottom: 8px;
}

/* Layout personalizado tipo bento */
.item-1 {
    grid-area: item1;
}

.item-2 {
    grid-area: item2;
}

.item-3 {
    grid-area: item3;
}

.item-4 {
    grid-area: item4;
}

.item-5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    grid-area: item5;
    color: white;
    text-align: center;
    background: linear-gradient(to top, hsl(from var(--secondary-color) h s calc(l - 40)) 20%, var(--secondary-color));
    box-shadow: 0 0 12px rgba(35, 35, 35, 0.2);
    overflow: hidden;
    position: relative;
    padding: 1.2rem; 
}


.item-5 button{
    width: 100%;
    box-shadow: 0 0 8px lightblue;
    z-index: 2;
}

.item-5 h2{
    z-index: 2;
}

.item-5 p{
    z-index: 2;
    color: white;
    margin-top: auto;
}

.item-5 button i{
    background: none;
    color: white;
    width: 0;
    height: 0;
    border-radius: none;
    display: inline-block;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.05rem;
    box-shadow: none;
    margin-bottom: 0;
}

.cta-img{
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    height: 100%;
    mask-image: linear-gradient(to bottom,black 50%, transparent);
    border-radius: 6px;
    z-index: 1;
}

.footer{
    background: var(--secondary-color);
}

/* Oculto */

.oculto {
    display: none;
}

@media (width >=768px) {

    .wrapper-navbar.scrolled {
        box-shadow: none;
    }

    .navbar {
        padding: 0 2rem;
        background: white;
        border-radius: 10px;
    }

    .navbar__toggle {
        display: none;
    }

    .navbar-content {
        width: 100%;
        display: flex;
        padding: 0.5rem;
        background: none;
        justify-content: end;
        flex-direction: row;
        height: inherit;
        position: static;
    }

    .navbar__seemaai-btn{
        width: 250px;
    }

    .navbar-links {
        flex-direction: row;
        justify-content: end;
    }

    .navbar__contact-btn {
        padding: 0.5rem 0.75rem;
    }

    .navbar__contact-btn span {
        display: none;
    }

    .hero-content {
        gap: 0.5rem;
    }

    .hero-img-shadow-wrapper{
        width: 70%;
        background: transparent;
    }

    .hero-img-shadow{
        width: 100%;
        border-radius: 16px;
    }

    .hero-img {
        width: 100%;
    }

    .benefits-cards-container {
        flex-direction: row;
    }

    .benefit__card {
        align-items: start;
        text-align: left;
    }

    .benefit__card--programs {
        display: none;
    }

    .programs-btn {
        display: block;
    }

    .section-seemaai {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 450px;
        grid-template-areas:
            "title title"
            "content img";
        justify-content: center;
        align-items: center;
        padding: 2.2rem 5rem;
    }

    .seemaai-title {
        text-align: center;
        grid-area: title;
    }

    .seemaai-img {
        grid-area: img;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        border-bottom: none;
    }

    .seemaai__chat-phone{
        display: none;
    }

    .seemaai__chat-laptop{
        display: block;
        width: 100%;
    }

    .seemaai-content {
        grid-area: content;
    }

    .seemaai-content-btn {
        width: 50%;
    }

    .seemaai-features {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .seemaai-feature {
        background: var(--primary-background-color);
        color: var(--secondary-color);
        font-size: 12px;
    }

    .seemaai-warning{
        text-align: left;
    }

    .bento-grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: 220px;
        grid-template-areas:
            "item1 item1 item2 item2 item5 item5"
            "item3 item3 item4 item4 item5 item5";
        gap: 1.2rem;
        padding: 0 2rem;
    }

    .bento-item {
        background: transparent;
        color: var(--paragraph-color);
        border-radius: 0;
        padding: 1.2rem;
        box-shadow:  none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        text-align: start;
        transition: transform 0.2s ease;
        border-bottom: 1px solid hsl(from var(--paragraph-color) h s calc(l + 70));

    }

    .item-5{
        align-items: center;
        text-align: center;
        border: none;
        background: linear-gradient(to top, hsl(from var(--secondary-color)h s calc(l - 40)), var(--secondary-color));
        border-radius: 6px;
        color: white;
    }


}
